<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- CONTENT -->
    <div id="content">
      <div id="container">
        <video id="videoel" width="400" height="300" preload="auto" loop playsinline autoplay>
        </video>
        <canvas id="overlay" width="400" height="300"></canvas>
        <canvas id="image" width="400" height="300"></canvas>
      </div>
      <br/>
      <input class="btn" type="button" value="wait, loading video" disabled="disabled" onclick="snapShot()" id="startbutton"></input>

      <div id='stats'>
        <div class='stat'>
          <p>Left eye:</p>
          <p id='left-eye'></p>
          <p id='left-eye-box'></p>
        </div>
        <div class='stat'>
          <p>Right eye:</p>
          <p id='right-eye'></p>
          <p id='right-eye-box'></p>
        </div>
        <div class='stat'>
          <p>Hair Color:</p>
          <p id='hair'></p>
          <p id='hair-box'></p>
        </div>
        <div class='stat'>
          <p>Skin Tone:</p>
          <p id='skin-tone'></p>
          <p id='skin-tone-box'></p>
        </div>
      </div>
      <br/>
    </div>
      <!-- JS SCRIPTS -->
      <script src="/javascripts/libs/utils.js"></script>
  		<script src="/javascripts/libs/jquery.min.js"></script>
      <script src="/javascripts/libs/clmtrackr.js"></script>
      <script src="/javascripts/functions.js"></script>
  </body>
</html>
