a {
  color: #00B7FF; }

body {
  font-family: 'Lato';
  background-color: #f0f0f0;
  margin: 0px auto;
  max-width: 1150px;
}

#videoel {
  position: absolute;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
}

#image-overlay {
  position: absolute;
  top: 0;
  left: 415px;
  height: auto;
  z-index: 2;
}

#image {
  position: relative;
  left: 415px;
  top: 0;
  width: 400px;
  z-index: 1;
}

#image2,
#image-overlay2 {
  display: none;
}

#container {
  position : relative;
  width : auto;
  height : auto;
  margin : 0px auto;
}

#content {
  margin-top : 70px;
  margin-left : 100px;
  margin-right : 100px;
  max-width: 950px;
}

#convergence {
  display : inline;
}

#stats {
  display: flex;
  flex-direction: row;
}

.stat {
  display: inline;
  margin-right: 20px;
  width: 150px;
}

#left-eye-box,
#right-eye-box,
#skin-tone-box,
#hair-box {
  width: 100px;
  height: 20px;
  background-color: white;
}

h2 {
  font-weight : 400;
}
.btn {
  font-family: 'Lato';
  font-size: 16px;
}
.hide {
  display : none;
}
