a {
  color: #00B7FF; }

body {
  font-family: 'Open Sans';
  background-color: #fff;
  margin: 0px auto;
  max-width: 1150px;
  -webkit-appearance: none;
}

#videoel {
  position: absolute;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#image-overlay {
  position: absolute;
  top: 0;
  left: 415px;
  z-index: 2;
}

#image {
  position: relative;
  left: 415px;
  top: 0;
  z-index: 1;
}

#image2,
#image-overlay2 {
  display: none;
}

#videoel,
#overlay,
#image-overlay,
#image {
  width: 400px;
  height: 300px;
}

#container {
  position : relative;
  width : auto;
  height : auto;
  margin : 0px auto;
}

#content {
  margin-top : 70px;
  max-width: 950px;
}

#stats {
  display: flex;
  flex-direction: row;
}

.stat {
  display: inline;
  margin-right: 20px;
  width: 150px;
}

.row {
  display: flex;
  flex-direction: row;
}

#mouth {
  margin-left: 10px;
}

#left-eye-box,
#right-eye-box,
#skin-tone-box,
#hair-box {
  width: 100px;
  height: 20px;
  background-color: white;
}

h2 {
  font-weight : 400;
}

.btn {
  font-family: 'Lato';
  font-size: 16px;
}

.hide {
  display : none;
}

@media only screen and (max-width: 1023px) {

  #videoel,
  #overlay,
  #image {
    width: 50%;
    height: 600px;
  }

  #image-overlay,
  #image {
    left: 50%;
  }

  #image-overlay {
    width: 90%;
    height: 100%;
  }

  .submit {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #btnWrapper {
    -webkit-appearance: none;
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 150px;
    border: 9px solid #fff;
    margin: 0 auto;
    position: relative;
    display: none;
  }

  #startbutton {
    -webkit-appearance: none;
    width: 150px;
    height: 150px;
    background-color: #D3000C;
    color: #D3000C;
    border-radius: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

  }

  #stats {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .stat {
    width: 100%;
  }

  .inlineStat {
    width: 100%;
    display: flex;

  }

  #left-eye-box,
  #right-eye-box,
  #skin-tone-box,
  #hair-box {
    width: 300px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
  }

  #left-eye,
  #right-eye,
  #skin-tone,
  #hair {
    display: none;
  }

  p {
    font-size: 30px;
    text-align: center;
  }

  #mouth {
    margin-left: 50px;
  }
}
